* {
    margin: 0;
    padding: 0;
    border: border-box;
}
/*MARQUEE CSS*/
.marquee_container {
    width: 100%;
    height: 30px;
    background-color: #000;
    display: flex;
    align-items: center; 
}
marquee {
    color: white;
}
/*NAVBAR CSS STARTS*/
.navbar {
    margin-top: 2px;
    height: 60px;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.logo {
    background-image:url("./images/ai\ logo.png");
    height: 50px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-logo {
    height: 55px;
    width: 150px;
    position: left;
}
.nav-links {
    color: white;
    height: 55px;
    width: 40%;
    gap: 20px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    position:static;
    right: 0;
    padding: 10px;
    overflow-x: auto;
}
.nav-links a {
    color: white ;
    text-decoration: none;
}
/*Hero container*/
.hero-banner {
    background-image: url("./images/hero_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-section{
    width: 90%;
    height: 40px;
    background-color: aliceblue;
    margin-bottom: 10px;
}
.hero-section h2 {
    text-align: center;
}
.hero-section span {
    color: #9333ea;
}
.hero-image {
    margin-top: 0;
    height: 450px;
    width: 100%;
    
}


/*news letter container */
.newsbox {
    width: 100%;
    height: 300px;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("./images/newsletter\ back.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.news {
    color: white;
    width: 100%;
    text-align: center;
    height:auto;
}
.news input {
    font-size: 20px;
    border-radius: 4px;
    height: 40px;
    width: 60%;
    text-align: center;
}
.news button {
    font-size: 20px;
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 4px;
}
/*footer section*/
.footer-box {
    color: white;
    height: 200px;
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-box a {
    text-decoration: none ;
    color: white ;
}
.footer-col {
    height:150px;
    width: 30%;
    text-align: center;
}
.copyright-section {
    width: 100%;
    background-color: #000;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}
.copyright-section p {
    margin-bottom: 0;
}